body {
  background-image: 
  linear-gradient(90deg,
  rgb(12, 0, 41) 0%, 
   rgb(17, 0, 66) 25%,
   rgb(26, 0, 97) 35%,
   rgb(71, 9, 243) 45%,
   rgb(141, 101, 252) 55%,
   rgb(71, 9, 243) 65%,
   rgb(26, 0, 97) 75%,
    rgb(17, 0, 66) 85%,
    rgb(12, 0, 41) 95%) !important;
 font-family:Courier New,monospace;
}
.cont{
  background-image: linear-gradient(180deg,
 rgb(42, 0, 139)0%,
 rgb(28, 0, 105) 79%,
 #050013 89%) !important;
 
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(90deg,
  rgb(8, 0, 27) 30%, 
   rgb(122, 84, 228) 60%,
    rgb(21, 11, 48) 80%) !important;
  font-family:Courier New,monospace;
  font-size: 15px;
}

.space{
 
  margin-left:60px;

}
h1{
  font-family:'Courier New', Courier, monospace;
  color:white;
  font-size: 40px;
}
.textcolor{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size:20px
}

.ptextcolor{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color:white;
  margin-left:5px;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color:white;
  margin-left:5px;
}
.buttonheader{
  font-family: 'Courier New', Courier, monospace;
}

.QuizCards{
  border: 5px solid purple;
}

.QuizForm{
  border: 5px solid black;
  padding: 5px;
}
.quiztitle{
  font-size: 20px;
  margin-top:10px;
  margin-left:5px;
  font-weight:bold;
  color:rgb(255, 255, 255);
}
.homepage1{
  background-image: linear-gradient(-180deg,
 rgb(42, 0, 139)0%,
 rgb(16, 0, 59) 79%,
 #050013 89%) !important;
 border: 5px;
}
.homepage2{
  background-image: linear-gradient(180deg,
 rgb(42, 0, 139)0%,
 rgb(16, 0, 59) 79%,
 #050013 89%) !important;
 border: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200;
  width: 370px;
  opacity: 0;
  transition: .5s ease;
  background-color: purple;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container {
  position: relative;
  width: 100%;
}
.image {
  opacity: 1;
  width: 370px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.formtitle{
  margin-left:230px;
}

.QuizTitleSheet{
  font-size: 20px;
  margin-top:10px;
  margin-left:5px;
  font-weight:bold;
  color:rgb(255, 255, 255);
  border: 2px pink;
  text-align: center;
}


